﻿@model TestTaskHTC.Models.ResultOperationMessage
<div class="modal-header">
    <h5 class="modal-title" style="color:#000;" id="modalFrameLabel">
        @if (Model.ForAdding)
        {
            <span><i class="las la-id-card la-lg"></i> Добавление контакта</span>
        }
        else
        {
            <span><i class="las la-edit la-lg"></i> Редактирование контакта</span>
        }

    </h5>
</div>
<div class="modal-body" style="text-align:center;">
    <div class="container flex-column">
        @if (Model.IsSuccess)
        {
            <div class="p-1 text-success">
                <i class="las la-check-circle"></i> @Model.Message
            </div>
        }
        else
        {
            <div class="p-1 text-danger">
                <i class="las la-times-circle la-lg"></i> @Model.Message
            </div>
        }
        <div class="p-1">
            @using (Ajax.BeginForm("GetContacts", "Contacts", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "personList", OnBegin = "CreateSpinner('personList')", OnComplete = "CloseModal(modalContactFrame)", OnSuccess = "ClearBlockContent('contactDetails')" }))
            {
                <br />
                <button class="btn btn-success btn-hover" type="submit">Закрыть</button>
            }
        </div>
    </div>
</div>
