﻿@model DbRepository.Models.Person
@using BlLibrary.Enums
@using BlLibrary.Utility
@{
    int i = 0;
}
<div class="modal-header">
    <h5 class="modal-title" style="color:#000;" id="modalFrameLabel"><i class="las la-id-card la-lg"></i> Добавление контакта</h5>
</div>
<div class="modal-body" style="text-align:center;">
    <div class="container">
        <hr />
        @using (Ajax.BeginForm("AddContact", "Contacts", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "insertBlock", OnBegin = "CreateSpinner('insertBlock')"}))
        {
            @Html.AntiForgeryToken()
            <div class="form-group row">
                <label for="inptLastName" class="col-3 col-form-label font-weight-bold">Фамилия</label>
                <div class="col">
                    @Html.TextBox("LastName", (Model != null) ? Model.LastName : "", new { @id = "inptLastName", @class = "form-control form-control-sm col", placeholder = "Фамилия", required = "required" })
                    <small class="text-danger"><i>@Html.ValidationMessage("LastName")</i></small>
                </div>
            </div>
            <div class="form-group row">
                <label for="inptFirstName" class="col-3 col-form-label font-weight-bold">Имя</label>
                <div class="col">
                    @Html.TextBox("FirstName", (Model != null) ? Model.FirstName : "", new { @id = "inptFirstName", @class = "form-control form-control-sm col", placeholder = "Имя", required = "required" })
                    <small class="text-danger"><i>@Html.ValidationMessage("FirstName")</i></small>
                </div>
            </div>
            <div class="form-group row">
                <label for="inptMiddleName" class="col-3 col-form-label font-weight-bold">Отчество</label>
                <div class="col">
                    @Html.TextBox("MiddleName", (Model != null) ? Model.LastName : "", new { @id = "inptMiddleName", @class = "form-control form-control-sm col", placeholder = "Отчество" })
                    <small class="text-danger"><i>@Html.ValidationMessage("MiddleName")</i></small>
                </div>
            </div>
            <div class="form-group row">
                <label for="inptBirthDate" class="col-3 col-form-label font-weight-bold">Дата рождения</label>
                <div class="col">
                    @Html.TextBox("BirthDate", (Model != null) ? Model.BirthDate.ToString("yyyy-MM-dd") : DateTime.Now.ToString("yyyy-MM-dd"), new { @class = "form-control form-control-sm col", @id = "inptBirthDate", @type = "date", required = "required" })
                    <small class="text-danger"><i>@Html.ValidationMessage("BirthDate")</i></small>
                    <script>
                        if (getInternetExplorerVersion() !== -1) {
                            ChangeTypeInput('inptBirthDate');
                            $(function () {
                                $("#inptBirthDate").datepicker("option", "dateFormat", "yy-mm-dd");
                                $("#inptBirthDate").datepicker();
                            });
                        }
                    </script>
                </div>
            </div>
            <div class="form-group row">
                <label for="inptCompany" class="col-3 col-form-label font-weight-bold">Компания</label>
                <div class="col">
                    @Html.TextBox("Company", (Model != null) ? Model.Company : "", new { @id = "inptCompany", @class = "form-control form-control-sm col", placeholder = "Компания", required = "required" })
                    <small class="text-danger"><i>@Html.ValidationMessage("Company")</i></small>
                </div>
            </div>
            <div class="form-group row">
                <label for="inptJobPosition" class="col-3 col-form-label font-weight-bold">Должность</label>
                <div class="col">
                    @Html.TextBox("JobPosition", (Model != null) ? Model.JobPosition : "", new { @id = "inptJobPosition", @class = "form-control form-control-sm col", placeholder = "Должность", required = "required" })
                    <small class="text-danger"><i>@Html.ValidationMessage("JobPosition")</i></small>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <label class="font-weight-bold" style="text-align:center;">Контактная информация</label>
                </div>
                <div class="col">
                    <div class="flex-column">
                        <div class="p-1 d-flex justify-content-start">
                            <div class="p-1">
                                <select id="selectForContact" class="form-control form-control-sm" onchange="ShowFormat();">
                                    @foreach (var item in EnumUtility.GetValues<ContactType>())
                                    {
                                        <option value="@((int)item)">@item.Description()</option>
                                    }
                                </select>
                                <label class="small font-italic" id="labelForSelect">Формат 79999999999</label>
                            </div>
                            <div class="p-1">
                                <input id="inpForContact" type="text" class="form-control form-control-sm" />
                            </div>
                            <div class="p-1">
                                <a class="btn btn-sm btn-info btn-hover" onclick="AddContact();">Добавить контакт</a>
                            </div>
                        </div>
                        <div class="p-1">
                            <small class="text-danger"><i>@Html.ValidationSummary()</i></small>
                        </div>
                        <div class="p-1">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="contactsTableBody">
                                    @if (Model != null)
                                    {
                                        if (Model.Contacts.Count != 0)
                                        {
                                            foreach (var item in Model.Contacts)
                                            {
                                                string blockId = Guid.NewGuid().ToString();
                                                <tr id="@blockId">
                                                    <td>
                                                        <label><b>@(EnumUtility.GetDescriptionByValue<ContactType>(item.ContactType))</b></label>
                                                        <input class="contactContent" type="text" name="Contacts[@i].Contact" value="@item.Contact" hidden />
                                                        <input class="contactType" type="number" name="Contacts[@i].ContactType" value="@item.ContactType" hidden />
                                                    </td>
                                                    <td class="d-flex">
                                                        <div class="p-1"><label>@item.Contact</label></div>
                                                        <div class="p-1 flex-grow-1"></div>
                                                        <div class="p-1"><a class="btn btn-sm btn-danger btn-hover p-1" onclick="DeleteBlock('@blockId');">Удалить</a></div>
                                                    </td>
                                                </tr>
                                                i++;
                                            }
                                        }
                                        else
                                        {
                                            <tr id="notFoundContact">
                                                <td colspan="2">Контакты не добавлены</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr id="notFoundContact">
                                            <td colspan="2">Контакты не добавлены</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-end">
                <button class="btn btn-sm btn-success btn-hover" type="submit">Создать контакт</button>
            </div>
        }
    </div>
</div>
<script>
    var counterContacts = @i; //Обнуление счетчика, используется в качестве индекса для коллекции контактов в форме(в случае если вернулась модель с валидации, то присвоится следующий индекс после последнего контакта)
    
</script>