﻿@model DbRepository.Models.Person

@if (Model != null)
{
    <div class="card card-text shadow btn-hover" style="margin-bottom:5px;">
        <div class="d-flex">
            <div class="p-1">

            </div>
            <div class="p-1 flex-grow-1">
                <h6 style="text-align:center;"><b>@Model.LastName @Model.FirstName @Model.MiddleName</b></h6>
            </div>
            <div class="p-1">
                @using (Ajax.BeginForm("GetContactDetails", "Contacts", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "contactDetails", OnBegin = "CreateSpinner('contactDetails')" }))
                {
                    <input name="personId" id="inpPersonId" value="@Model.Id" hidden />
                    <button class="btn btn-sm btn-info" type="submit">Подробнее</button>
                }
            </div>
        </div>
    </div>
}
