﻿@model IEnumerable<DbRepository.Models.Person>


@if (Model != null)
{
    if (Model.Count()!=0)
    {
        foreach (var item in Model)
        {
            @Html.Partial("_Contact", item)
        }
    }
    else
    {
        <h5 style="text-align:center;">Контакты не найдены</h5>
    }
}
else 
{
    <h6 style="text-align:center;">Произошла ошибка на сервере</h6>
}