﻿@model DbRepository.Models.Person
@using BlLibrary.Enums
@using BlLibrary.Utility

@if (Model != null)
{
    <div class="card shadow">
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th colspan="2" style="text-align:center;"><h5>Информация о контакте</h5></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>ФИО</th>
                        <td>@Model.LastName @Model.FirstName @Model.MiddleName</td>
                    </tr>
                    <tr>
                        <th>Дата рождения</th>
                        <td>@Model.BirthDate.ToShortDateString()</td>
                    </tr>
                    <tr>
                        <th>Компания</th>
                        <td>@Model.Company</td>
                    </tr>
                    <tr>
                        <th>Должность</th>
                        <td>@Model.JobPosition</td>
                    </tr>
                    <tr>
                        <th>Контакты</th>
                        <td>
                            
                            @if (Model.Contacts.Count() != 0)
                            {
                                <table class="table table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Contacts)
                                        {
                                            <tr>
                                                <th>@(EnumUtility.GetDescriptionByValue<ContactType>(item.ContactType))</th>
                                                <td>@item.Contact</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <td style="text-align:center;">Контакты отсутствуют</td>
                            }
                    </tr>
                    <tr>
                        <th></th>
                        <td class="d-flex">
                            <div class="p-1">
                                @using (Ajax.BeginForm("ShowEditForm", "Contacts", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "insertBlock", OnBegin = "CreateSpinner('insertBlock')" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <input name="personId" value="@Model.Id" hidden />
                                    <button class="btn btn-sm btn-hover btn-success" data-toggle="modal" data-target="#modalContactFrame">Редактировать</button>
                                }
                            </div>
                            <div class="p-1">
                                @using (Ajax.BeginForm("DeletePerson", "Contacts", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "personList", OnBegin = "CreateSpinnerContact('contactDetails','personList')", OnSuccess = "ClearBlockContent('contactDetails')", Confirm =$"Вы действительно хотите удалить {Model.LastName} {Model.FirstName} {Model.MiddleName} из контактов?" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <input name="personId" value="@Model.Id" hidden />
                                    <button class="btn btn-sm btn-hover btn-danger">Удалить</button>
                                }
                            </div>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="card card-text text-danger">
        <h5 style="text-align:center;">
            Информация о записи не найдена
        </h5>
    </div>
}
