﻿@using TestTaskHTC.Models.Settings

@{ 
    bool AddingResultSucces = (TempData["CreatingResult"] != null) ? Convert.ToBoolean(TempData["CreatingResult"] as bool?) : false;
    Settings settings = Session["Settings"] as Settings ?? new Settings { DateBook = new DateBookSettings () };
}

<div class="modal-header">
    <h5 class="modal-title" style="color:#000;" id="modalFrameLabel"><i class="las la-sticky-note"></i> Создание заметки</h5>
</div>
<div class="modal-body" style="text-align:center;">
    <div class="container flex-column">
        @if (AddingResultSucces)
        {
            <div class="p-1 text-success">
                <i class="las la-check-circle"></i> Заметка успешно добавлена
            </div>
        }
        else
        {
            <div class="p-1 text-danger">
                <i class="las la-times-circle la-lg"></i> Заметка не добавлена
            </div>
        }
        <div class="p-1">
            @using (Ajax.BeginForm("ShowNotes", "DateBook", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "noteTable", OnBegin = "CreateSpinner('noteTable')", OnComplete= "CloseModal(modalFrame)" }))
            {
                @Html.Hidden("displayMode", settings.DateBook.DisplayMode)
                @Html.Hidden("date", settings.DateBook.Date)
                <br />
                <button class="btn btn-success btn-hover" type="submit">Закрыть</button>
            }
        </div>
    </div>
</div>