﻿@model TestTaskHTC.Models.NoteFormData
@using BlLibrary.Enums
@using BlLibrary.Utility
@{
    NoteType noteType = (Model != null) ? Model.NoteType : NoteType.Meeting;
}
<script src="~/Scripts/jquery.maskedinput.min.js"></script>
<div class="modal-header">
    <h5 class="modal-title" style="color:#000;" id="modalFrameLabel"><i class="las la-sticky-note"></i> Создание заметки</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" style="font-size:14px; text-align:justify;">
    <br />
    @using (Ajax.BeginForm("CreateNote", "DateBook", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "insertBlock", OnBegin = "CreateSpinner('insertBlock')" }))
    {
        @Html.AntiForgeryToken()

        <div class="container">
            <div class="form-group row">
                <label for="inptNoteType" class="col-3 col-form-label font-weight-bold">Выберите тип заметки</label>
                <div class="col">
                    <select class="form-control form-control-sm col" name="NoteType" id="inptNoteType" onchange="ChangeNoteType()">
                        @foreach (var item in EnumUtility.GetValues<NoteType>())
                        {
                            if (item == noteType)
                            {
                                <option value="@item" selected>
                                    @item.Description()
                                </option>
                            }
                            else
                            {
                                <option value="@item">
                                    @item.Description()
                                </option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="inptSubjectNote" class="col-3 col-form-label font-weight-bold">Тема</label>
                <div class="col">
                    @Html.TextBox("SubjectNote", (Model != null) ? Model.SubjectNote : "", new { @id = "inptSubjectNote", @class = "form-control form-control-sm col", placeholder = "Укажите тему заметки", required = "required" })
                </div>
            </div>
            <div class="form-group row">
                <label for="inptStartingDate" class="col-3 col-form-label font-weight-bold">Дата и время начала</label>
                <div class="col">
                    @Html.TextBox("StartingDate", (Model != null) ? Model.StartingDate : DateTime.Now.ToString(), new { @class = "form-control form-control-sm col", @id = "inptStartingDate", @type = "text", required = "required" })
                    <script>
                        $("#inptStartingDate").mask("99.99.9999 99:99");
                    </script>
                    <small class="form-text font-weight-bold"><i>Введите дату и время в формате: дд.мм.гггг чч:мм</i></small>
                    <small style="color:red;"><i>@Html.ValidationMessage("StartingDate")</i></small>
                </div>

            </div>
            <div class="form-group row" id="endingDateBlock">
                <label for="inptEndingDate" class="col-3 col-form-label font-weight-bold">Дата и время окончания</label>
                <div class="col">
                    @Html.TextBox("EndingDate", (Model != null) ? Model.EndingDate : "", new { @class = "form-control form-control-sm col", @id = "inptEndingDate", @type = "text" })
                    <script>
                        $("#inptEndingDate").mask("99.99.9999 99:99");
                    </script>
                    <small class="form-text font-weight-bold"><i>Введите дату и время в формате: дд.мм.гггг чч:мм</i></small>
                    <small style="color:red;"><i>@Html.ValidationMessage("EndingDate")</i></small>
                </div>
            </div>
            <div class="form-group row" id="meetingBlock">
                <label for="inptMeetingPlace" class="col-3 col-form-label font-weight-bold">Место Встречи</label>
                <div class="col">
                    @Html.TextBox("MeetingPlace", (Model != null) ? Model.MeetingPlace : "", new { @id = "inptMeetingPlace", @class = "form-control form-control-sm col", placeholder = "Укажите место встречи" })
                    <small style="color:red;"><i>@Html.ValidationMessage("MeetingPlace")</i></small>
                </div>
            </div>
            <br />
            <div class="row d-flex justify-content-end">
                <button class="btn btn-sm btn-hover btn-success" type="submit">Добавить заметку</button>
            </div>
        </div>

    }
</div>
