﻿@model TestTaskHTC.Models.DateBookTableViewModel
@using BlLibrary.Utility
@if (Model.Notes != null)
{
<div class="d-flex justify-content-end">
    <div class="p-1">
        <i>Выбранный режим:</i> <b class="text-success">@Model.DisplayMode.Description()</b> 
    </div>
</div>
<table class="table table-sm">
    <thead class="thead-light">
        <tr>
            <th>Тип заметки</th>
            <th>Дата начала</th>
            <th>Дата окончания</th>
            <th>Тема</th>
            <th>Место встречи</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Notes.Count() != 0)
        {
            foreach (var item in Model.Notes)
            {
                @Html.Partial("_Note", item)
            }
        }
        else
        {
            <tr>
                <th colspan="6"><h6 style="text-align:center;"><b>Заметки не найдены</b></h6></th>
            </tr>
        }
    </tbody>

</table>
}
else
{
    <div class="card card-text shadow">
        <p style="text-align:center;">
            При обработке запроса произошла ошибка
        </p>
    </div>
}