﻿@model TestTaskHTC.Models.NoteEditFormData
@using BlLibrary.Enums
@using BlLibrary.Utility

<div class="modal-header">
    <h5 class="modal-title" style="color:#000;" id="modalFrameLabel"><i class="las la-edit la-lg"></i> Редактирование заметки</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" style="text-align:justify;">
    <br />
    @if (Model != null)
    {
        string endingDateClass = (Model.NoteType==NoteType.Reminder)? "d-none" : "";
        string meetingPlaceClass = (Model.NoteType!=NoteType.Meeting)? "d-none" : "";
        using (Ajax.BeginForm("SaveChangesNote", "DateBook", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "insertBlock", OnBegin = "CreateSpinner('insertBlock')" }))
        {
            @Html.AntiForgeryToken()
            <input name="NoteId" type="number" value="@Model.NoteId" hidden />
            <div class="container">
                <div class="form-group row">
                    <label for="inptNoteType" class="col-3 col-form-label font-weight-bold">Выберите тип заметки</label>
                    <div class="col">
                        <select class="form-control form-control-sm col" name="NoteType" id="inptNoteType" onchange="ChangeNoteType()">
                            @foreach (var item in EnumUtility.GetValues<NoteType>())
                            {
                                if (item == Model.NoteType)
                                {
                                    <option value="@item" selected>
                                        @item.Description()
                                    </option>
                                }
                                else
                                {
                                    <option value="@item">
                                        @item.Description()
                                    </option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inptSubjectNote" class="col-3 col-form-label font-weight-bold">Тема</label>
                    <div class="col">
                        @Html.TextBox("SubjectNote", Model.SubjectNote, new { @id = "inptSubjectNote", @class = "form-control form-control-sm col", placeholder = "Укажите тему заметки", required = "required" })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inptStartingDate" class="col-3 col-form-label font-weight-bold">Дата и время начала</label>
                    <div class="col">
                        @Html.TextBox("StartingDate", Model.StartingDate, new { @class = "form-control form-control-sm col", @id = "inptStartingDate", @type = "text", required = "required" })
                        <script>
                            $("#inptStartingDate").mask("99.99.9999 99:99");
                        </script>
                        <small class="form-text font-weight-bold"><i>Введите дату и время в формате: дд.мм.гггг чч:мм</i></small>
                        <small style="color:red;"><i>@Html.ValidationMessage("StartingDate")</i></small>
                    </div>
                </div>
                <div class="form-group row @endingDateClass" id="endingDateBlock">
                    <label for="inptEndingDate" class="col-3 col-form-label font-weight-bold">Дата и время окончания</label>
                    <div class="col">
                        @Html.TextBox("EndingDate", Model.EndingDate, new { @class = "form-control form-control-sm col", @id = "inptEndingDate", @type = "text" })
                        <script>
                            $("#inptEndingDate").mask("99.99.9999 99:99");
                        </script>
                        <small class="form-text font-weight-bold"><i>Введите дату и время в формате: дд.мм.гггг чч:мм</i></small>
                        <small style="color:red;"><i>@Html.ValidationMessage("EndingDate")</i></small>
                    </div>
                </div>
                <div class="form-group row @meetingPlaceClass" id="meetingBlock">
                    <label for="inptMeetingPlace" class="col-3 col-form-label font-weight-bold">Место Встречи</label>
                    <div class="col">
                        @Html.TextBox("MeetingPlace", Model.MeetingPlace, new { @id = "inptMeetingPlace", @class = "form-control form-control-sm col", placeholder = "Укажите место встречи" })
                        <small style="color:red;"><i>@Html.ValidationMessage("MeetingPlace")</i></small>
                    </div>
                </div>
                <br />
                <div class="row d-flex justify-content-end">
                    <button class="btn btn-sm btn-hover btn-success" type="submit">Сохранить</button>
                </div>
            </div>
        }
    }


</div>
