﻿@model DbRepository.Models.Note
@using BlLibrary.Utility
@using BlLibrary.Enums
<tr>
    <td class="d-flex">
        <div class="p-1">
            @if (Model.IsDone)
            {
                <span class="text-success large"><i class="las la-check-square la-lg"></i></span>
            }
            else
            {
                <span class="text-secondary"><i class="las la-stop la-lg"></i></span>
            }
        </div>
        <div class="p-1 flex-grow-1">
            @(EnumUtility.GetDescriptionByValue<NoteType>(Model.NoteType))
        </div>
        @if (Model.IsDone)
        {
            <div class="p-1">
                @using (Ajax.BeginForm("ChangeNoteStatus", "DateBook", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "noteTable", OnBegin = "CreateSpinner('noteTable')" }))
                {
                    @Html.AntiForgeryToken()
                    <input name="isDone" value="false" hidden />
                    <input name="noteId" value="@Model.Id" hidden />
                    <button class="btn p-1 btn-hover btn-outline-secondary" type="submit" data-toggle="tooltip" data-placement="bottom" title="Отметить не выполненым"><i class="las la-times"></i></button>
                }
            </div>
        }
        else
        {
            <div class="p-1">
                @using (Ajax.BeginForm("ChangeNoteStatus", "DateBook", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "noteTable", OnBegin = "CreateSpinner('noteTable')" }))
                {
                    @Html.AntiForgeryToken()
                    <input name="isDone" value="true" hidden />
                    <input name="noteId" value="@Model.Id" hidden />
                    <button class="btn p-1 btn-hover btn-outline-success" type="submit" data-toggle="tooltip" data-placement="bottom" title="Отметить выполненым"><i class="las la-check"></i></button>
                }
            </div>
        }
    </td>
    <td>@Model.StartingDate</td>
    @if (EnumUtility.GetEnumByValue<NoteType>(Model.NoteType) == NoteType.Reminder)
    {
        <td></td>
    }
    else
    {
        <td>@Model.EndingDate</td>
    }
    <td>@Model.SubjectNote</td>
    @if (EnumUtility.GetEnumByValue<NoteType>(Model.NoteType) == NoteType.Meeting)
    {
        <td>@Model.MeetingPlace</td>
    }
    else
    {
        <td></td>
    }
    <td class="d-flex align-items-stretch">
        <div class="p-0">
            @using (Ajax.BeginForm("ShowEditForm", "DateBook", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "insertBlock", OnBegin = "CreateSpinner('insertBlock')" }))
            {
                @Html.AntiForgeryToken()
                <input name="noteId" value="@Model.Id" hidden />
                <button class="btn p-1 btn-outline-info btn-hover" type="submit" data-toggle="modal" data-target="#modalFrame"><i class="las la-edit la-lg"></i></button>
            }
        </div>
        <div class="p-0">
            @using (Ajax.BeginForm("DeleteNote", "DateBook", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "noteTable", Confirm = "Вы действительно хотите удалить запись?", OnBegin = "CreateSpinner('noteTable')" }))
            {
                @Html.AntiForgeryToken()
                <input name="noteId" value="@Model.Id" hidden />
                <button class="btn p-1 btn-outline-danger btn-hover" type="submit"><i class="las la-times-circle la-lg"></i></button>
            }
        </div>
    </td>
</tr>