﻿@model IEnumerable<DbRepository.Models.Note>


<table class="table table-sm">
    <thead class="thead-light">
        <tr>
            <th>Тип заметки</th>
            <th>Дата начала</th>
            <th>Дата окончания</th>
            <th>Тема</th>
            <th>Место встречи</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() != 0)
        {
            foreach (var item in Model)
            {
                @Html.Partial("_Note", item)
            }
        }
        else
        {
            <tr>
                <th colspan="6"><h6 style="text-align:center;"><b>Заметки не найдены</b></h6></th>
            </tr>
        }
    </tbody>

</table>
