﻿
<div class="d-flex">
    <div class="p-1 flex-grow-1"><h2>Книга контактов</h2></div>
    <div class="p-1"><a class="btn btn-sm btn-outline-success btn-hover" href='@Url.Action("Index")'><i class="las la-chevron-circle-left la-lg"></i> Назад</a></div>
</div>
<hr />
<br />

<div class="row">
    <div class="d-flex col-12">
        <div class="p-2">
            @using (Ajax.BeginForm("ShowAddForm", "Contacts", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "insertBlock", OnBegin = "CreateSpinner('insertBlock')" }))
            {
                <button class="btn btn-sm btn-success btn-hover" type="submit" data-toggle="modal" data-target="#modalContactFrame">Добавить контакт</button>
            }
        </div>
        <div class="p-2">
            @using (Ajax.BeginForm("GetContacts", "Contacts", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "personList", OnBegin = "CreateSpinnerContact('contactDetails','personList')", OnSuccess = "ClearBlockContent('contactDetails')", OnComplete = "ClearInput('inptSearchContact')" }))
            {
                <button class="btn btn-sm btn-hover btn-secondary" type="submit">Показать всех</button>
            }
        </div>
        <div class="p-2 flex-grow-1"></div>
        <div class="p-1">
            @using (Ajax.BeginForm("SearchContact", "Contacts", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "personList", OnBegin = "CreateSpinnerContact('contactDetails','personList')", OnSuccess = "ClearBlockContent('contactDetails')" }))
            {
                @Html.AntiForgeryToken()
                <div class="d-flex">
                    <div class="p-1">
                        <input type="text" name="searchText" id="inptSearchContact" class="form-control form-control-sm" />
                    </div>
                    <div class="p-1">
                        <button class="btn btn-sm btn-hover btn-secondary" type="submit"><i class="las la-search la-lg"></i> Найти</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-5">
       <br />
       <div id="personList">
           @{ Html.RenderAction("GetContacts", "Contacts");}
       </div>
    </div>
    <div class="col-7">
        <br />
        <div id="contactDetails"></div>
    </div>
</div>

<div class="modal fade" id="modalContactFrame" tabindex="-1" role="dialog" aria-labelledby="modalContactFrameLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content" id="insertBlock">

        </div>
    </div>
</div>