﻿@using BlLibrary.Enums
@using BlLibrary.Utility
@using TestTaskHTC.Models.Settings
@{ 
    Settings settings = Session["Settings"] as Settings ?? new Settings { DateBook = new DateBookSettings () };
}
<div class="d-flex">
    <div class="p-1 flex-grow-1"><h2>Ежедневник</h2></div>
    <div class="p-1"><a class="btn btn-sm btn-outline-success btn-hover" href='@Url.Action("Index")'><i class="las la-chevron-circle-left la-lg"></i> Назад</a></div>
</div>

<hr />
<br />
<div class="flex-column">
    <div class="p-1 d-flex">
        <div class="p-1">
            @using (Ajax.BeginForm("ShowNotes", "DateBook", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "noteTable", OnBegin = "CreateSpinner('noteTable')" }))
            {
                <div class="form-group d-flex">
                    <div class="input-group input-group-sm mb-3 p-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><b>Режим отображения:</b></span>
                        </div>
                        <select class="form-control form-control-sm" name="displayMode" id="inptDisplayMode" required>
                            @foreach (var item in EnumUtility.GetValues<NoteDisplayMode>())
                            {
                                if (item == settings.DateBook.DisplayMode)
                                {
                                    <option value="@item" selected>
                                        @item.Description()
                                    </option>
                                }
                                else
                                {
                                    <option value="@item">
                                        @item.Description()
                                    </option>
                                }
                            }
                        </select>
                        
                    </div>
                    <div class="input-group input-group-sm mb-3 p-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><b>Дата:</b></span>
                        </div>
                        @Html.TextBox("date", settings.DateBook.Date.ToString("yyyy-MM-dd"), new { @class = "form-control form-control-sm", @id = "inptDate", @type = "date", required = "required" })
                        <button class="btn btn-sm btn-primary btn-hover p-0" type="submit">Сменить вид</button>
                    </div>
                </div>
            }
        </div>
        @*<div class="p-1 flex-grow-1"></div>*@
        <div class="p-1 ml-auto">
            @using (Ajax.BeginForm("ShowCreateForm", "DateBook", new AjaxOptions { InsertionMode=InsertionMode.Replace, UpdateTargetId= "insertBlock", OnBegin= "CreateSpinner('insertBlock')" }))
            {
                @Html.AntiForgeryToken()
                <button class="btn btn-sm btn-success btn-hover" type="submit" data-toggle="modal" data-target="#modalFrame"><i class="las la-plus"></i> Создать</button>
            }
        </div>
    </div>
    <div class="p-1">
        <hr />
        <div class="row">
            <div class="col-3">
                <h6 style="text-align:center;">Поиск</h6>
                <hr />
                <br />
                <div class="flex-column">
                    <div class="p-1">
                        @using (Ajax.BeginForm("SortNoteByType", "DateBook", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "noteTable", OnBegin = "CreateSpinner('noteTable')" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="p-1">
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><b>Тип:</b></span>
                                    </div>
                                    <select class="form-control form-control-sm" name="noteType" id="inptNoteTypeFilter" required>
                                        @foreach (var item in EnumUtility.GetValues<NoteType>())
                                        {
                                            if (item == NoteType.Meeting)
                                            {
                                                <option value="@item" selected>
                                                    @item.Description()
                                                </option>
                                            }
                                            else
                                            {
                                                <option value="@item">
                                                    @item.Description()
                                                </option>
                                            }
                                        }
                                    </select>
                                    <button class="btn btn-outline-success btn-sm btn-hover" type="submit"><i class="las la-filter"></i></button>
                                </div>
                            </div>
                        }

                    </div>
                    <div class="p-2">
                        @using (Ajax.BeginForm("SearchNotes", "DateBook", new AjaxOptions { InsertionMode=InsertionMode.Replace, UpdateTargetId= "noteTable", OnBegin= "CreateSpinner('noteTable')" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="form-check">
                                    @Html.RadioButton("searchType", NoteSearchType.Date, new { @id = "chekByDate", @class = "form-check-input", @checked = "checked" })
                                    <label class="form-check-label" for="chekByAll">По дате (формат: дд.мм.гггг)</label>
                                </div>
                                <div class="form-check">
                                    @Html.RadioButton("searchType", NoteSearchType.Other, new { @id = "chekByText", @class = "form-check-input" })
                                    <label class="form-check-label" for="chekByText">По содержимому</label>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                
                                @Html.TextBox("searchText", "", new { @class = "form-control form-control-sm", @id = "searchString", placeholder = "Введите строку поиска" })
                                <label style="font-size:small;" for="#searchString"><i><b>Введите строку поиска и нажмите "Enter"</b></i></label>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col">
                <div id="noteTable">
                    @{ Html.RenderAction("ShowNotes", "DateBook", new { displayMode = settings.DateBook.DisplayMode, date=settings.DateBook.Date});}
                    
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalFrame" tabindex="-1" role="dialog" aria-labelledby="modalFrameLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content" id="insertBlock">
            
        </div>
    </div>
</div>

