﻿
<div class="row" id="mainBlock">
    <div class="col-6">
        <div class="jumbotron">
            <h1>Ежедневник</h1>
            <p class="lead">Управление ежедневником, создание, просмотр, поиск и редактирование заметок</p>
            <p><a href='@Url.Action("DateBook")' onclick="CreateSpinner('mainBlock');" class="btn btn-primary btn-hover btn-lg">Перейти</a></p>
        </div>
    </div>
    <div class="col-6">
        <div class="jumbotron">
            <h1>Контакты</h1>
            <p class="lead">Управление контактами, создание, удаление, редактирование и просмотр контактов</p>
            <p><a href='@Url.Action("Contact")' onclick="CreateSpinner('mainBlock');" class="btn btn-primary btn-hover btn-lg">Перейти</a></p>
        </div>
    </div>
</div>
