﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - приложение ASP.NET</title>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery-ui")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <div class="container">
        <br />
        @RenderBody()
        <hr />
        <footer class="d-flex justify-content-end">
            <p class="p-1">&copy; @DateTime.Now.Year - Тестовое задание ASP.NET</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/customScripts")
    @RenderSection("scripts", required: false)
</body>
</html>
